<!DOCTYPE HTML>
<html lang="en">
{% load static %}

<head>
    <title>AGSPS an Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="AGSPS Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%  static 'std/css/style.css'   %}">
    <!-- Graph CSS -->
    <link rel="stylesheet" href="{%  static 'std/css/font-awesome.css'   %}">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,100,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{%  static 'std/css/icon-font.min.css'   %}">
    <!-- //lined-icons -->
    <script src=" {%  static 'std/js/jquery-1.10.2.min.js'   %}"></script>

    <script src=" {%  static 'std/js/mark.js'   %}"></script>
    <link rel="stylesheet" href="{%  static 'teacher/css/mystd.css'   %}">


    <!--clock init-->

    <!--Easy Pie Chart-->
    <!--skycons-icons-->


    <script src=" {%  static 'std/js/jquery.easydropdown.js  '%}"></script>

</head>
{% block body %}

<body>
    <div class="page-container">
        <div class="left-content">
            <div class="inner-content">
                <div class="header-section">
                    <div class="top_menu">
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">

                                <li class="dropdown note qa">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                                        class="fa fa-bell-o"></i> <span class="badge">5</span></a>

                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>You have 5 new notification</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img alt="AGSPS_MS" src="images/in.jpg"></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li class="odd">
                                            <a href="#">
                                                <div class="user_img"><img alt="AGSPS_MS" src="images/in5.jpg"></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img alt="AGSPS_MS" src="images/in8.jpg"></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet </p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="noti.html">See all notification</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <h3 class="inner-tittle one"> Your Student Mark List </h3>
                <div class="graph">

                    <div class="row">
                        <div class="col col-xs-3">

                            <a class="btn btn-sm btn-success  "><i class="fa fa-upload"> </i> Export Student Mark</a>
                            <a class="btn btn-sm btn-warning "><i class="fa fa-download"> </i> Import Student Mark </a>
                        </div>

                        <div class="col col-xs-5">
                            <div class="col col-xs-5">

                            </div>
                            <div class="col col-xs-2">
                                <select class=" form-control  select">
                                        <option selected>Choose Class</option>
                                        <option value="1">A</option>
                                        <option value="2">B</option>
                                        <option value="3">C</option>
                                        <option value="3">D</option>
                                        <option value="3">All</option>
                                    </select>

                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button style="width: 100%;" class="btn btn-sm btn-primary btn-create"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered  ">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="1">#</th>
                                    <th colspan="3">
                                        <b>Student</b></th>
                                    <th colspan="2"><b> 10</b></th>
                                    <th colspan="2"><b> 10</b></th>
                                    <th colspan="2"><b> 10</b></th>
                                    <th colspan="2"><b>20</b></th>
                                    <th colspan="2"><b> 50</b></th>
                                    <th colspan="1"><b> 100</b></th>
                                </tr>
                            </thead>
                            <tbody>

                                <div class="er">


                                    {% for a in data %}

                                    <tr>
                                        <th style="color: black; background-color: orange;">{{ a.id }}</th>
                                        <td colspan="3" style="color: black; background-color: orange;">

                                            <div class="ddown">

                                                <a href="index.html">
                                                    <img alt="AGSPS_MS" src=" {% static 'teacher/images/admin.jpg' %}     ">
                                                </a>
                                                <i>{{ a.std_data }}</i>

                                            </div>

                                            <input class="id" type="hidden" value="{{ a.std_data.unique_id }}">
                                        </td>
                                        <td colspan="2" style="color: white; background-color: blue;">
                                            <p>{{ a.ten1 }}</p>
                                        </td>

                                        <td colspan="2" style="color: white; background-color: blue;">
                                            <p>{{ a.ten2 }}</p>
                                        </td>

                                        <td colspan="2" style="color: white; background-color: blue;">
                                            <p>{{ a.ten3 }}</p>
                                        </td>

                                        <td colspan="2" style="color: white; background-color: blue;">
                                            <p>{{ a.twenty }}</p>
                                        </td>

                                        <td colspan="2" style="color: white; background-color: blue;">
                                            <p>{{ a.fifty }}</p>
                                        </td>


                                        <td class="tyo" colspan="1" style="color: black;font-size: medium; background-color: orange;">
                                            <p>{{ a.hundred }}</p>
                                        </td>

                                    </tr>


                                    {% endfor %}

                                </div>
                            </tbody>
                        </table>

                    </div>



                </div>


                <footer>
                    <p>&copy 2020 AGSPS_MS . All Rights Reserved | Done by <a href="#" target="_blank">D3MAH.</a></p>
                </footer>
            </div>
        </div>
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
                <a href="index.html"> <span id="logo"> <h3>AGSPS</h3></span>
                    <!--<img alt="AGSPS_MS" id="logo" src="" alt="Logo"/>-->
                </a>
            </header>
            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
            <!--/down-->
            <div class="down">
                <a href="index.html"><img alt="AGSPS_MS" src="images/admin.jpg"></a>
                <a href="index.html"><span class="name-caret">{{ data.std_data.name  }}</span></a>

                <ul>
                    <li><a class="tooltips" href="index.html"><span>Profile</span><i style="color: black;"
                                                                                 class="lnr lnr-user"></i></a></li>
                    <li><a class="tooltips" href="index.html"><span>Settings</span><i style="color: black;"
                                                                                  class="lnr lnr-cog"></i></a></li>
                    <li><a class="tooltips" href="index.html"><span>Log out</span><i style="color: black;"
                                                                                 class="lnr lnr-power-switch"></i></a>
                    </li>
                </ul>
            </div>
            <!--//down-->
            <div class="menu">
                <ul id="menu">
                    <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>DashBoard</span></a></li>
                    <li><a href="mark.html" style="background-color: rgb(47, 0, 265); color: orange;"><i
                        class="fa fa-list-alt"></i> <span>MARK List</span></a></li>
                    <li><a href="assignment.html"><i class="fa fa-briefcase"></i> <span>ASSIGNMENT</span></a></li>
                    <li><a href="my_std.html"><i class="fa fa-users"></i> <span>My Student</span></a></li>
                    <li><a href="blog.html"><i class="fa fa-comments-o"></i> <span>BLOG</span></a></li>
                    <li><a href="timetable.html"><i class="fa fa-table"></i> <span>TIMETABLE</span></a></li>
                    <li><a href="displine.html"><i class="fa fa-globe"></i> <span>DISPLINE</span></a></li>
                    <li><a href="payment.html"><i class="fa fa-dollar"></i> <span>PAYMENT</span></a></li>
                    <li><a href="noti.html"><i class="fa fa-bell-o"></i> <span>NOTIFICATION</span></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <script>
        let toggle = true;

        $(".sidebar-icon").click(function() {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({
                    "position": "absolute"
                });
            } else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function() {
                    $("#menu span").css({
                        "position": "relative"
                    });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    <!--js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src=" {%  static 'std/js/scripts.js'   %}"></script>

    <!-- Bootstrap Core JavaScript -->


</body>
{% endblock body %}


</html>